body{
  margin: 0;
}
.container{
height: 250vh;
background: rgb(205, 92, 98);
position: relative;
}
.main-slider{
  height: 400px;
  width: 100%;
}
.header{
  height: 40px;
  background:blue;
  position: sticky;
  top: 0;
}

input[type="button"]{
font-size: 24px;
color: white;
background-color: blue;
font-weight:bold;
border: 0;
float: right;
margin-top: 5px;
}

}
.left-buttons, .right-buttons{
  display: inline-block;
}

.right-buttons{
  float: right;
}
input[type='button']:hover{
  cursor: pointer;
  background-color: brown;
  
  transition: 0.3s;
}
.article-img{
  width: 40%;
  float: left;

}
.article >p{
  text-align: justify;
}
.article{
  display: inline;
  
}
.main-contant{
  margin: 0 15% ;
}





























































